@{
    ViewBag.Title = "Home Page";
}
<style>
    .titletext {
        text-align: center;
    }

    .title {
        padding-top: 30px;
        padding-bottom: 25px;
        margin-bottom: 15px;
        color: inherit;
        background-color: #ccbdd9;
    }

    .p {
        padding: 10px 16px;
        font-size: 15px;
        line-height: 1.1;
        border-radius: 6px;
    }
    /*.p .caret {
        border-width: 20px 20px 8px;
        border-bottom-width: 4px;
    }*/
    .student {
        background-color: #eee;
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 500px;
    }

    span {
        text-align: center;
        font-size: large;
        background-color: dimgray
    }
    comlun_1 {
        color: #444;
        line-height: 20px;
        border: 0px;
        padding: 0px;
        font-size: 100%;
        margin: 0px;
        font-family: inherit;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: normal;
        float: left;
        width: 200px;
    }
    h3 {
        border: 0px;
        margin: 0px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: normal;
        font-family: "\5FAE\8F6F\96C5\9ED1";
        background: #5c307d;
        color: #fff;
        font-size: 22px;
        line-height: 68px;
        padding: 0 22px;
    }
    .thuicon-menu menuicon {
        line-height: 68px;
        border: 0px;
        padding: 0px;
        font-size: 100%;
        margin: 0px;
        font-family: inherit;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: normal;
        text-decoration: none;
        color: #fff;
        float: right;
        text-indent: 0;
        display: none;
    }
    .yahei {
        color: #444;
        line-height: 20px;
        border: 0px;
        padding: 0px;
        font-size: 100%;
        margin: 0px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: normal;
        list-style-type: none;
        font-family: "\5FAE\8F6F\96C5\9ED1";
        border-top: 1px solid #ddd;
        margin-top: 20px;
        display: block;
    }
    #submenu {
        border: 0px;
        margin: 0px;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: normal;
        font-family: "\5FAE\8F6F\96C5\9ED1";
        background: #5c307d;
        color: #fff;
        font-size: 22px;
        line-height: 68px;
        padding: 0 22px;
        outline-width:200px;
    }
    /*ul {
        color: #444;
        line-height: 22px;
        padding: 0px;
        font-size: 100%;
        font-family: inherit;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: normal;
        list-style-type: none;
        margin: 0;
        border: 0;
        background: #f7f7f7;
        position: relative;
        left: -4px;
        width: 100%;
        display: block;
        border-left: 4px solid #ff9600;
    }
    li {
        color: #444;
        border: 0px;
        padding: 0px;
        margin: 0px;
        font-family: inherit;
        -webkit-font-smoothing: subpixel-antialiased;
        font-weight: normal;
        list-style-type: none;
        line-height: 22px;
        zoom: 1;
        position: relative;
        border-bottom: 0;
        border-top: 1px solid #ddd;
        font-size: 12px;
    }*/
    
</style>








<div class="title">
    <h1 class="titletext">肇庆学院办事处</h1>
</div>


<div class="comlun_1">
    <section class="leftNav">
        <h3 id="submenu"><a class="thuicon-menu menuicon"></a>信息门户</h3>
        <ul class="yahei">
            <li class="current">
                <i class="current thuicon-minus"></i><a href="intothu-1.html">基本信息</a>
                <ul>
                    <li><a href="intothu-1-1.html">个人信息</a></li>
                </ul>
            </li>
            <li>
                <i class="thuicon-plus"></i><a href="intothu-2.html">档案信息</a>
                <ul>
                    <li><a href="intothu-2-1.html">户籍档案</a></li>
                    <li><a href="intothu-2-2.html">团籍档案</a></li>
                    <li><a href="intothu-2-3.html">党籍档案</a></li>
                </ul>
            </li>
            <li>
                <i class="thuicon-plus"></i><a href="intothu-3.html">缴费中心</a>
                <ul>
                    <li><a href="intothu-3-1.html">电费缴纳</a></li>
                    <li><a href="intothu-3-2.html">水费缴纳</a></li>
                    <li><a href="intothu-3-3.html">学费缴纳</a></li>
                    <li><a href="intothu-3-4.html">奖学金</a></li>
                </ul>
            </li>
            <li>
                <i class="current thuicon-minus4"></i><a href="intothu-1.html">图书归还</a>
                <ul>
                    <li><a href="intothu-4-1.html">借还情况</a></li>
                </ul>
            </li>
        </ul>
    </section>
</div>